*~
asan_logs/*.log
coverage_html/*.html
coverage_html/*.png
coverage_html/*.css
coverage_html/mcastcapture
.cproject
*.gcda
*.gcno
*.info
*.[oa]
*.pb.cc
*.pb.h
.project
.protos_done
*.so
.stamp_*
*_test
test_logs/*.log
tsan_logs/*.log
